<p-toast></p-toast>

<div class="card">
    <div class="card-header">
        <h5 class="m-0">User Management</h5>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title">Users</h5>
            <button pButton icon="pi pi-plus" class="p-button-success" (click)="openNew()" label="Add User"></button>
        </div>

        <p-table [value]="users" [loading]="loading" [paginator]="true" [rows]="10" 
                [rowsPerPageOptions]="[5, 10, 25]" [showCurrentPageReport]="true" 
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users" 
                responsiveLayout="scroll" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="firstname">First Name <p-sortIcon field="firstname"></p-sortIcon></th>
                    <th pSortableColumn="lastname">Last Name <p-sortIcon field="lastname"></p-sortIcon></th>
                    <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                    <th>Address</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.state}}, {{user.address}}, {{user.country}}</td>
                    <td>
                        <span *ngFor="let role of user.roles; let last = last">
                            {{role}}<span *ngIf="!last">, </span>
                        </span>
                    </td>
                    <td>
                        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" 
                                (click)="editUser(user)" pTooltip="Edit User"></button>
                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" 
                                (click)="deleteUser(user)" pTooltip="Delete User"></button>
                        <!-- Removed toggle status button since backend doesn't support enabled field -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="text-center">No users found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- User Dialog -->
<p-dialog [(visible)]="userDialog" [style]="{width: '500px'}" [modal]="true" 
        [draggable]="false" [resizable]="false" 
        [header]="user.id ? 'Edit User' : 'Create User'">
    <ng-template pTemplate="content">
        <form [formGroup]="userForm" class="p-fluid">
            <div class="field mb-3">
                <label for="username" class="font-bold">Username*</label>
                <input id="username" type="text" pInputText formControlName="username" 
                       [ngClass]="{'ng-invalid ng-dirty': userForm.get('username')?.invalid && userForm.get('username')?.touched}" 
                       autofocus>
                <small class="p-error" *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
                    <span *ngIf="userForm.get('username')?.errors?.['required']">Username is required.</span>
                    <span *ngIf="userForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters.</span>
                </small>
            </div>
            
            <div class="field mb-3">
                <label for="email" class="font-bold">Email*</label>
                <input id="email" type="email" pInputText formControlName="email" 
                       [ngClass]="{'ng-invalid ng-dirty': userForm.get('email')?.invalid && userForm.get('email')?.touched}">
                <small class="p-error" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                    <span *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</span>
                    <span *ngIf="userForm.get('email')?.errors?.['email']">Email format is invalid.</span>
                </small>
            </div>
            
            <div class="field mb-3" *ngIf="!user.id">
                <label for="password" class="font-bold">Password*</label>
                <input id="password" type="password" pInputText formControlName="password" 
                       [ngClass]="{'ng-invalid ng-dirty': userForm.get('password')?.invalid && userForm.get('password')?.touched}">
                <small class="p-error" *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                    <span *ngIf="userForm.get('password')?.errors?.['required']">Password is required.</span>
                    <span *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</span>
                </small>
            </div>
            
            <div class="field mb-3">
                <label for="firstname" class="font-bold">First Name</label>
                <input id="firstname" type="text" pInputText formControlName="firstname">
            </div>
            
            <div class="field mb-3">
                <label for="lastname" class="font-bold">Last Name</label>
                <input id="lastname" type="text" pInputText formControlName="lastname">
            </div>
            
            <div class="field mb-3">
                <label for="phone" class="font-bold">Phone</label>
                <input id="phone" type="text" pInputText formControlName="phone">
            </div>
            
            <div class="field mb-3">
                <label for="country" class="font-bold">Country</label>
                <input id="country" type="text" pInputText formControlName="country">
            </div>
            
            <div class="field mb-3">
                <label for="state" class="font-bold">State</label>
                <input id="state" type="text" pInputText formControlName="state">
            </div>
            
            <div class="field mb-3">
                <label for="address" class="font-bold">Address</label>
                <input id="address" type="text" pInputText formControlName="address">
            </div>
            
            <div class="field mb-3">
                <label for="roles" class="font-bold">Roles*</label>
                <p-multiSelect id="roles" [options]="availableRoles" formControlName="roles" 
                              [defaultLabel]="'Select Roles'" [selectedItemsLabel]="'{0} roles selected'"
                              [ngClass]="{'ng-invalid ng-dirty': userForm.get('roles')?.invalid && userForm.get('roles')?.touched}">
                </p-multiSelect>
                <small class="p-error" *ngIf="userForm.get('roles')?.invalid && userForm.get('roles')?.touched">
                    At least one role is required.
                </small>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" class="p-button-text" (click)="hideDialog()" label="Cancel"></button>
        <button pButton icon="pi pi-check" class="p-button-text" 
                (click)="saveUser()" [disabled]="userForm.invalid" label="Save"></button>
    </ng-template>
</p-dialog>

<!-- Delete Confirmation Dialog -->
<p-dialog [(visible)]="deleteUserDialog" [style]="{width: '450px'}" [modal]="true" 
        [draggable]="false" [resizable]="false" header="Confirm">
    <ng-template pTemplate="content">
        <div class="confirmation-content">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="selectedUser">Are you sure you want to delete <b>{{selectedUser.username}}</b>?</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" class="p-button-text" (click)="deleteUserDialog = false" label="No"></button>
        <button pButton icon="pi pi-check" class="p-button-text p-button-danger" (click)="confirmDelete()" label="Yes"></button>
    </ng-template>
</p-dialog>